.container {
  padding: 24px 64px;
  background-color: #f7f7f7;
  position: relative;
}

.logo {
  position: absolute;
  top: 24px;
  left: 64px;
  color: #101828;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.5;
}
.logo span {
  color: #475467;
}

.navList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.navItem {
  color: #101828;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.active {
  color: #d84343;
}

.navItem:hover,
.navItem:focus {
  color: #d84343;
}
