.cont {
  box-sizing: border-box;
  width: 100%;
  padding: 44px 57px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.textCont {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.mainText {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--light-blue);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input {
  padding: 18px;
  border: none;
  border-radius: 10px;
  background-color: #f7f7f7;
  color: var(--dark-blue);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
.comment {
  font-family: inherit;
  box-sizing: border-box;
  padding: 18px;
  border: none;
  border-radius: 10px;
  background-color: #f7f7f7;
  color: var(--dark-blue);
  height: 114px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  overflow: hidden;
  white-space: normal;
  resize: none;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.005em;
  border-radius: 200px;
  width: max-content;
  padding: 16px 60px;
  background-color: var(--red);
  color: var(--white);
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.button:hover,
.button:focus {
  background-color: var(--dark-red);
}
