.mainCont {
  display: flex;
  gap: 64px;
}

.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.listCont {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style-type: none;
}

.loadMoreBtn {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.005em;
  border-radius: 200px;
  width: max-content;
  font-size: 16px;
  padding: 16px 32px;
  background-color: var(--white);
  border: 1px solid var(--border);
  color: var(--dark-blue);
}

.loadMoreBtn:hover,
.loadMoreBtn:focus {
  border-color: var(--red);
}
