.cont {
  padding: 24px;
  border-radius: 20px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  display: flex;
  gap: 24px;
}

.img {
  width: 290px;
  border-radius: 10px;
  background-color: rgba(16, 24, 40, 0.2);
  object-fit: cover;
  object-position: 70% 60%;
}

.content {
  display: flex;
  flex-direction: column;
}

.firstSec {
  display: flex;
  font-size: 24px;
  font-weight: 600;
  justify-content: space-between;
  margin-bottom: 8px;
}

.favCont {
  display: flex;
  gap: 9px;
}

.iconCont {
  cursor: pointer;
}

.iconHeart {
  stroke: var(--dark-blue);
  fill: none;
}

.iconFavorite {
  fill: var(--red);
  stroke: none;
}

.iconCont:hover {
  cursor: pointer;
}

.secondSec {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.rating {
  display: flex;
  gap: 4px;
  text-decoration: underline;
  align-items: center;
}

.location {
  display: flex;
  gap: 4px;
  align-items: center;
}

.description {
  color: var(--light-blue);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 525px;
  margin-bottom: 24px;
}

.features {
  width: 526px;
  height: 96px;
  background-color: rgba(16, 24, 40, 0.2);
  margin-bottom: 24px;
}

.featuresList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.feature {
  padding: 12px 18px;
  background-color: #f2f4f7;
  border: none;
  border-radius: 100px;
  width: max-content;
  display: flex;
  gap: 8px;
}

.text {
  text-transform: capitalize;
}

.showMoreBtn {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.005em;
  border-radius: 200px;
  width: max-content;
  padding: 16px 40px;
  background-color: var(--red);
  color: var(--white);
  border: none;
  font-size: 16px;
}

.showMoreBtn:hover,
.showMoreBtn:focus {
  background-color: var(--dark-red);
}
